body {
	margin: 0px;
}

h1 {
	font-family: 'Franklin Gothic Book', Helvetica, Geneva, Arial, sans-serif;
	font-size:150%;
	font-weight:normal;
	font-variant:small-caps;
}

p, li {
	font-family: 'Franklin Gothic Book', Helvetica, Geneva, Arial, sans-serif;
	font-size:100%;
	font-weight:normal;
}

ul {
	
}